/* nav-bar part start */

.nav-link {

    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #00413D;
    transition: .4s;
}

.nav-link:hover {
    color: #E5745D;
}

ul {
    column-gap: 45px;
}

/* common css */
.nav-button .button-text {
    background-color: #E5745D;
    width: 198px;
    height: 64px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.box {
    display: flex;
}
ul{
    list-style: none;
}

/* common css */
.nav-button .button-text::after {
    position: absolute;
    width: 188px;
    height: 54px;
    border: 1px solid #FFFFFF;
    top: 5px;
    left: 5px;
    content: "";
}

.nav-button {
    margin-top: 18px;
    margin-bottom: 18px;
}

/* nav-bar part end */


/* banner part start */
.banner {
    width: 100%;
    padding: 220px 0;
    background-color: #00413D;
    position: relative;
    overflow: hidden;

}

.banner h1 {
    font-family: "Vollkorn ", serif;
    font-weight: 700;
    font-size: 100px;
    color: #FFFFFF;
    line-height: 110px;
    position: relative;
    z-index: 40;
}

.banner p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, .5);
    width: 670px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    z-index: 40;

}

.banner h1 span {
    display: block;
}

.banner p span {
    color: #FFFFFF;
}

.banner-button {
    background-color: #E5745D;
    width: 180px;
    height: 64px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;

}

.banner-button::after {
    position: absolute;
    width: 170px;
    height: 54px;
    border: 1px solid #FFFFFF;
    top: 5px;
    left: 5px;
    content: "";
}

.banner .overlay {
    background-image: url(../images/bnnrimg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -50%;
    transition: .6s;
    z-index: 20;
}

.banner:hover .overlay {
    right: 0;

}

/* banner part end */

/* service part start */

.service {
    padding-top: 220px;
    padding-bottom: 120px;
}

.title h4 {
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 18px;
    color: #E5745D;
    text-align: center;
    padding-bottom: 11px;
    position: relative;
}

.title h4::after {
    position: absolute;
    top: 9px;
    left: 41%;
    width: 40px;
    height: 2px;
    background-color: #E5745D;
    content: "";
}

.title h4::before {
    position: absolute;
    top: 6px;
    left: 44%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E5745D;
    content: "";
}

.title h2 {
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 50px;
    color: #00413D;
    width: 517px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

.service .card {
    width: 100% !important;
    border: 0px;
    padding: 50px 30px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.service .card img {
    width: 20%;
}

.service .card .card-body {
    padding: 0;
}

.service .card .card-title {
    font-family: "Vollkorn", serif;
    font-weight: 800;
    font-size: 24px;
    color: #00413D;
    padding-top: 26px;
    padding-bottom: 15px;
}

.service .card .card-text {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00413D;
    width: 245px;
    line-height: 24px;
}

.service .card i {
    color: #00413D;

}

.service .card i:hover {
    color: #E5745D;

}


/* service part end */


/* about part start */

.about .big-image {
    width: 370px;
    height: 480px;
    background-image: url(../images/abtimg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about .small-image {
    display: flex;

    flex-direction: column;
    row-gap: 30px;
}

.about .small-image .image1 {
    width: 170px;
    height: 225px;
    background-image: url(../images/abtimg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about .small-image .image2 {
    width: 170px;
    height: 225px;
    background-image: url(../images/abtimg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about .box {
    width: 100%;
    column-gap: 30px;
}

.about-title {
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-title h4 {
    font-family: "Vollkorn", serif;
    font-weight: 500;
    font-size: 18px;
    color: #E5745D;
    position: relative;
    margin-left: 60px;

}

.about-title h4::after {
    position: absolute;
    top: 11px;
    left: -10%;
    width: 40px;
    height: 2px;
    background-color: #E5745D;
    content: "";
}

.about-title h4::before {
    position: absolute;
    top: 8px;
    left: -4%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E5745D;
    content: "";
}

.about-title h2 {
    font-family: "Vollkorn", serif;
    font-weight: 500;
    font-size: 50px;
    color: #00413D;
    width: 570px;
    line-height: 56px;
}

.about-title p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00413D;
    width: 570px;
    line-height: 26px;
    margin-top: 20px;

}

.about-title .part2 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00413D;
    width: 570px;
    line-height: 26px;
    margin-bottom: 50px;
}

.about-button {
    background-color: #E5745D;
    width: 198px;
    height: 64px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.about-button::after {
    position: absolute;
    width: 188px;
    height: 54px;
    border: 1px solid #FFFFFF;
    top: 5px;
    left: 5px;
    content: "";
}


/* about part end */


/* skill part start */

.skill {
    padding-top: 80px;
    padding-bottom: 120px;
}

.main-box {
    width: 100%;
    height: 282px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;

}

.main-box .p-box {
    width: 167px;
    height: 167px;
    border: 8px solid #E5745D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box h3 {
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 26px;
    color: #00413D;
}

.p-box h2 {
    font-family: "Vollkorn", system-ui;
    font-weight: 600;
    font-size: 34px;
    color: #E5745D;
}


/* skill part end */


/* project part start */
.project .title2 h4{
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 18px;
    color: #E5745D;
    position: relative;
    padding-left: 50px; 
}
.project .title2 h4::after{
    position: absolute;
    top: 9px;
    left: 0%;
    width: 40px;
    height: 2px;
    background-color: #E5745D;
    content: "";
}
.project .title2 h4::before{
    position: absolute;
    top: 6px;
    left: 34px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E5745D;
    content: "";
}
.project .title2 h2{
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 50px;
    color: #00413D;
    line-height: 60px;
}
.project .box {
    justify-content: space-between;

    
}
.project .icon ul{
    display: flex;
    column-gap: 20px;
    padding-top: 16px;
}
.project .icon ul li{
    border: 1px solid rgba(0, 65, 61,.1);
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    color: #00413D;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.project .icon ul li:hover{
    background-color: #E5745D;
    color: #FFFFFF;
}
.project .card{
    border: 0px;
    width: 100% !important;
    margin-top: 40px;
    margin-bottom: 60px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.project .card-title{
    font-family: "Vollkorn", serif;
    font-weight: 500;
    font-size: 16px;
    color: #E5745D; 
}
.project .card-text{
    font-family: "Vollkorn", serif;
    font-weight: 500;
    font-size: 24px;
    color: #00413D;
    line-height: 30px;
}
.project .card-text-2{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00413D;
    line-height: 24px;
}
.project .icon{
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 25px 0px;
}
.project .icon a{
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #00413D;
    transition: .4s;
}
.project .icon  i{
    
    font-size: 18px;
    color: #00413D;
    transition: .4s;
    
}
.project .card:hover  .icon a{
    color: #E5745D; 
}
.project .card:hover  .icon i{
    color: #E5745D; 
}
.project-button{
    background-color: #E5745D;
    width: 198px;
    height: 64px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.project-button::after{
    position: absolute;
    width: 188px;
    height: 54px;
    border: 1px solid #FFFFFF;
    top: 5px;
    left: 5px;
    content: "";
}

.project-box{
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
margin-bottom: 120px;

}






/* project part end */